.background {
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
  width: 100%;
  height: 915px;
  padding-top: 130px;
}
section {
  background: white;
  width: 450px;
  height: 500px;
  margin: 0 auto;
}
.todo-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 25px 0 50px 0;
  font-weight: 350;
}
.date-time {
  text-align: center;
  padding-top: 30px;
  color: #a07ee8;
}
.ul-style li {
  text-align: center;
  width: 60%;
  float: left;
  list-style: none;
}
.edit-style {
  width: 9%;
  height: 29px;
  margin-right: 5px;
}

.delete-style {
  width: 9%;
  height: 29px;
}
.add-style {
  width: 60px;
  height: 60px;
  margin: 170px 200px;
  background: #8a56f9;
  border-radius: 50%;
}
.plus {
  color: #fff;
}
.taskform-style {
  width: 69%;
  margin: 0 auto;
}
.taskform-style h4 {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
  color: #a07ee8;
}
.checkmark {
  color: green;
}
.check-style {
  margin-right: 5px;
}
